# 문자열을 날짜로 변환하기

In [1]:
import numpy as np
import pandas as pd

# 문자열을 만듭니다.
date_strings = np.array(['03-04-2005 11:35 PM',
                         '23-05-2010 12:01 AM',
                         '04-09-2009 09:09 PM'])

In [3]:
[pd.to_datetime(date, format='%d-%m-%Y %H:%M %p') for date in date_strings]

[Timestamp('2005-04-03 11:35:00'),
 Timestamp('2010-05-23 12:01:00'),
 Timestamp('2009-09-04 09:09:00')]

In [5]:
[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='ignore') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]

In [6]:
pd.to_datetime(date_strings)

DatetimeIndex(['2005-03-04 23:35:00', '2010-05-23 00:01:00',
               '2009-04-09 21:09:00'],
              dtype='datetime64[ns]', freq=None)

# 시간대 다루기

In [7]:
import pandas as pd

In [10]:
pd.Timestamp('2022-05-01 06:00:00', tz='Asia/Seoul')

Timestamp('2022-05-01 06:00:00+0900', tz='Asia/Seoul')

In [11]:
date = pd.Timestamp('2022-05-01 06:00:00')

In [13]:
date_in_seoul = date.tz_localize('Asia/Seoul')
date_in_seoul

Timestamp('2022-05-01 06:00:00+0900', tz='Asia/Seoul')

In [14]:
date = date.tz_localize(None)
date

Timestamp('2022-05-01 06:00:00')

In [16]:
date_in_seoul.tz_convert('Africa/Abidjan')

Timestamp('2022-04-30 21:00:00+0000', tz='Africa/Abidjan')

In [17]:
dates = pd.Series(pd.date_range('2023/5/5',  periods=3, freq='M'))

In [18]:
dates

0   2023-05-31
1   2023-06-30
2   2023-07-31
dtype: datetime64[ns]

In [19]:
dates.dt.tz_localize('Africa/Abidjan')

0   2023-05-31 00:00:00+00:00
1   2023-06-30 00:00:00+00:00
2   2023-07-31 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

In [20]:
from pytz import all_timezones

In [26]:
all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Ciudad_Juarez',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Kyiv',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [27]:
import pytz

tz = pytz.timezone('Asia/Seoul')

In [28]:
dates.dt.tz_localize(tz)

0   2023-05-31 00:00:00+09:00
1   2023-06-30 00:00:00+09:00
2   2023-07-31 00:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

# 날짜와 시간 선택하기

In [29]:
import pandas as pd

In [30]:
df = pd.DataFrame()

In [31]:
df['date'] = pd.date_range('2022/1/1', periods=100000, freq='H')

In [33]:
df[(df['date']>'2023-1-1 01:00:00') & (df['date']<='2023-1-1 04:00:00')]

                    date
8762 2023-01-01 02:00:00
8763 2023-01-01 03:00:00
8764 2023-01-01 04:00:00

In [34]:
df = df.set_index(df['date'])

In [36]:
df.loc['2022-03-03 01:00:00':'2022-03-04 03:00:00']

                                   date
date
2022-03-03 01:00:00 2022-03-03 01:00:00
2022-03-03 02:00:00 2022-03-03 02:00:00
2022-03-03 03:00:00 2022-03-03 03:00:00
2022-03-03 04:00:00 2022-03-03 04:00:00
2022-03-03 05:00:00 2022-03-03 05:00:00
2022-03-03 06:00:00 2022-03-03 06:00:00
2022-03-03 07:00:00 2022-03-03 07:00:00
2022-03-03 08:00:00 2022-03-03 08:00:00
2022-03-03 09:00:00 2022-03-03 09:00:00
2022-03-03 10:00:00 2022-03-03 10:00:00
2022-03-03 11:00:00 2022-03-03 11:00:00
2022-03-03 12:00:00 2022-03-03 12:00:00
2022-03-03 13:00:00 2022-03-03 13:00:00
2022-03-03 14:00:00 2022-03-03 14:00:00
2022-03-03 15:00:00 2022-03-03 15:00:00
2022-03-03 16:00:00 2022-03-03 16:00:00
2022-03-03 17:00:00 2022-03-03 17:00:00
2022-03-03 18:00:00 2022-03-03 18:00:00
2022-03-03 19:00:00 2022-03-03 19:00:00
2022-03-03 20:00:00 2022-03-03 20:00:00
2022-03-03 21:00:00 2022-03-03 21:00:00
2022-03-03 22:00:00 2022-03-03 22:00:00
2022-03-03 23:00:00 2022-03-03 23:00:00
2022-03-04 00:00:00 2022-03-04 00:00:00
2022-03-04 01:00:00 2022-03-04 01:00:00
2022-03-04 02:00:00 2022-03-04 02:00:00
2022-03-04 03:00:00 2022-03-04 03:00:00

# 날짜 데이터를 여러 특성으로 나누기

In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame()

In [39]:
df['date'] = pd.date_range('2021-01-01', periods=150, freq='W')

In [40]:
df

          date
0   2021-01-03
1   2021-01-10
2   2021-01-17
3   2021-01-24
4   2021-01-31
..         ...
145 2023-10-15
146 2023-10-22
147 2023-10-29
148 2023-11-05
149 2023-11-12

[150 rows x 1 columns]

In [41]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

In [44]:
df.head(3)

        date  year  month  day  hour  minute
0 2021-01-03  2021      1    3     0       0
1 2021-01-10  2021      1   10     0       0
2 2021-01-17  2021      1   17     0       0

# 날짜 간의 차이 계산

In [45]:
import pandas as pd

In [46]:
df = pd.DataFrame()

In [47]:
df['Arrived'] = [pd.Timestamp('2023-01-01'), pd.Timestamp('2023-01-04')]

In [48]:
df['Left'] = [pd.Timestamp('2023-01-01'), pd.Timestamp('2023-01-06')]

In [49]:
df['Left'] - df['Arrived']

0   0 days
1   2 days
dtype: timedelta64[ns]

In [50]:
pd.Series(delta.days for delta in (df['Left'] - df['Arrived']))

0    0
1    2
dtype: int64

In [51]:
[delta.days for delta in df['Left'] - df['Arrived']]

[0, 2]

# 요일 인코딩

In [52]:
import pandas as pd

In [53]:
df = pd.Series(pd.date_range('2022-01-01', periods=3, freq='M'))
df

0   2022-01-31
1   2022-02-28
2   2022-03-31
dtype: datetime64[ns]

In [55]:
df.dt.weekday

0    0
1    0
2    3
dtype: int64

# 시차 특성 만들기

In [57]:
import pandas as pd

In [58]:
df = pd.DataFrame()

In [61]:
df['dates'] = pd.date_range('2022-01-01', periods=5, freq='D')
df['stock_price'] = [1.1, 2.2, 3.3, 4.4, 5.5]

In [62]:
df['previous_days_stock_price'] = df['stock_price'].shift(1)
df

       dates  stock_price  previous_days_stock_price
0 2022-01-01          1.1                        NaN
1 2022-01-02          2.2                        1.1
2 2022-01-03          3.3                        2.2
3 2022-01-04          4.4                        3.3
4 2022-01-05          5.5                        4.4

# 이동시간 윈도우 사용

In [63]:
import pandas as pd

In [64]:
time_index = pd.date_range('2021-01-01', periods=5, freq='M')

In [65]:
df = pd.DataFrame(index=time_index)

In [66]:
df['stock_price'] = [1, 2, 3, 4, 5]

In [67]:
df.rolling(window=2).mean()

            stock_price
2021-01-31          NaN
2021-02-28          1.5
2021-03-31          2.5
2021-04-30          3.5
2021-05-31          4.5

In [69]:
df.ewm(alpha=0.5).mean()

            stock_price
2021-01-31     1.000000
2021-02-28     1.666667
2021-03-31     2.428571
2021-04-30     3.266667
2021-05-31     4.161290

# 시계열 데이터에서 결측치

In [70]:
import pandas as pd
import numpy as np

In [72]:
time_index = pd.date_range('2022-01-01', periods=5, freq='M')

In [73]:
df = pd.DataFrame(index=time_index)

In [75]:
df['sales'] = [1.0, 2.0, np.nan, np.nan, 5.0]

In [77]:
df

            sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    NaN
2022-04-30    NaN
2022-05-31    5.0

In [78]:
df.interpolate()

            sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    3.0
2022-04-30    4.0
2022-05-31    5.0

In [79]:
df.ffill()

            sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    2.0
2022-04-30    2.0
2022-05-31    5.0

In [80]:
df.bfill()

            sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    5.0
2022-04-30    5.0
2022-05-31    5.0

In [81]:
df.interpolate(method='quadratic')

<frozen importlib._bootstrap>:241: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

               sales
2022-01-31  1.000000
2022-02-28  2.000000
2022-03-31  3.059808
2022-04-30  4.038069
2022-05-31  5.000000

In [82]:
df.interpolate(limit=1, limit_direction='forward')

            sales
2022-01-31    1.0
2022-02-28    2.0
2022-03-31    3.0
2022-04-30    NaN
2022-05-31    5.0